.image{
    
    display: flex;
    right: %;
    bottom 45%;
    border-radius: 50%;
}

#p1 {
    font: Sans-serif;
    font-size: 30px;
    align-items: center;
    justify-content: center;
}

#p2 {
    font: Sans-serif;
    font-size: 20px;
}
.version {
    position: absolute;
    bottom: 0;
    left: 10;
}

.headbutton {
    background-color: transparent; 
    border: none;
}

body {
   background-image: url("light-veneer.png");
   background-color: #cccccc;
   background-position: right top;
}


.levyPanel {
    width:16px;
	height:110%;
    top:0px;
	z-index:100;
    left: 30%;
    position: fixed;
    
}

.pravyPanel {
    width:16px;
	height:100%;
    top:0px;
	z-index:100;
    position: fixed;
    margin-right: 10px;

}



#paypal {
    bottom: 40%;
    right: 45%;
    position: fixed;
}
    
table, th, td {
    border: 1px solid black;
}

table#t01 {
    width: 30%; 
    bottom: 0%;
    right: 35%;
    position: fixed;
    margin-bottom: 10px;
}


body {
   position: relative;
}

#cat {
    font: Sans-serif;
    font-size: 20px;
}

#game_shopPart{
    float: right;
    width: 410px;
    height: 100%;
}

#game_shoppingMenu{
    float: left;
    width: 100%;
    padding: 10px;
    margin-right: 10px;
}

.game_shopButton {
    width: 97%;
    height: 110px;
    background-color: #262626;
    margin-bottom: 10px;
    margin-left: 10px;
}

.game_shopIcon {
    float: left;  
    width: 80px;
    height: 100px;
    margin: 5px;
}

.game_shopText {
    float: left;    
    margin-left: 10px;
}

.game_shopName {
    margin-top: 5px;
    font-size: 21px;
    font-weight: bold;
    color: white;
}

.game_shopTextfield {
    font-size: 12px;
    float: left; 
    color: white;
    margin-left: 30px;
}

.game_shopButtonGay{
    width: 97%;
    height: 110px;
    background-color:  #FF1493;
    margin-bottom: 10px;
    margin-left: 10px;
    
}
    
#hlava{
    position: fixed;
}


h1 {
    text-align: center;
    color: white;
    font-weight: bolder;
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 10px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#panelh{
    margin-left: 5px;
}

body {
    
    width: 98%;
}