#image{
    
    display: flex;
    right: 75%;
    bottom 45%;
    border-radius: 50%;
}

#p1 {
    font: Sans-serif;
    font-size: 30px;
    align-items: center;
    justify-content: center;
}

#p2 {
    font: Sans-serif;
    font-size: 35px;
}
#version {
    position: absolute;
    bottom: 0;
    left: 10;
}

#headbutton {
    background-color: transparent; 
    border: none;
}

body {
   background-image: url("light-veneer.png");
   background-color: #cccccc;
}

#image2 {
    position: relative;
    align-items: center;
    justify-content: center;
    bottom: 65%;
    left: 85%;
}

#levyPanel {
     width:16px;
	height:100%;
    top:0px;
	z-index:100;
    left: 35%;
    position: absolute;
    
}

#pravyPanel {
     width:16px;
	height:100%;
    top:0px;
	z-index:100;
    right: 20%;
    position: absolute;
}

    #image3 {
    position: relative;
    align-items: center;
    justify-content: center;
    bottom: 40%;
    left: 85%;
}

#paypal {
    position: absolute;
    bottom: 70%;
    right: 50%;
}
    
